@import '../../../../../styles/globals/vars.scss';

:host {
  display: block;

  .reset-password {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 2rem 3rem;
    box-shadow: $bs-standard;
    border-radius: $br-normal;
    background-color: $c1-bg-color;

    &__password-link {
      font-size: $fs-text-normal;
    }

    &__label {
      font-size: $fs-text-middle;
    }

    &__footer-text {
      display: block;
      margin-top: 2rem;
      text-align: center;
    }
  }
}
