@import '../globals/vars.scss';

.angular-editor-wrapper {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: initial;
  }
}

.angular-editor-textarea {
  margin-top: 0 !important;
  border-bottom-left-radius: 0.25rem !important;
  border-bottom-right-radius: 0.25rem !important;
  color: $fs-color-form;
  border-color: $t1-border-color;
}

.angular-editor-placeholder {
  color: $fs-color-form !important;
  font-size: 1rem !important;
}

.angular-editor-toolbar {
  background-color: $light-grey !important;
  padding: 0.4rem 0.2rem 0.2rem 0.2rem !important;
  border-bottom: none !important;
  border-top-left-radius: 0.25rem !important;
  border-top-right-radius: 0.25rem !important;
}
