<div *ngIf="!editMode" (click)="editMode = true" class="cell">
  {{ currency }} {{ data | number: '':'en' }}
</div>

<!-- <input
  *ngIf="editMode"
  appAutoFocus
  type="text"
  (focusout)="onFocusOut()"
  (keydown.enter)="$event.target.blur()"
  [(ngModel)]="data"
  class="cellInput"
  (keydown.enter)="$event.target.blur()"
  name="data"
/> -->

<input
  *ngIf="editMode"
  type="text"
  [formControl]="control"
  (focusout)="onFocusOut()"
  (keydown.enter)="$event.target.blur()"
  class="cellInput"
  (keydown.enter)="$event.target.blur()"
  appAutoFocus
/>
