@import './vars.scss';

h1 {
  margin-bottom: 1.2rem;
  font-size: $fs-h1;
  line-height: $lh-h1;
  font-weight: 500;
}

h2 {
  margin-bottom: 1rem;
  font-size: $fs-h2;
  line-height: $lh-h2;
}

h3 {
  margin-bottom: 1rem;
  font-size: $fs-h3;
  line-height: $lh-h3;
}

textarea {
  width: 100%;
}

/**
 * Buttons
 */
.btn {
  border-radius: $br-round;

  &-large {
    width: 100%;
  }
}

.create-ticket-btn {
  position: fixed;
  bottom: 64px;
  right: 36px;
  width: 72px;
  height: 72px;
  border-radius: $br-round-100;
}

/**
 * Errors
 */
.error-feedback {
  display: block;
  margin-top: 0.5rem;
  color: $t1-error-color;
  font-size: $fs-text-small;
}

/**
 * Modifiers
 */
.is-center {
  text-align: center;
}
