// Fonts
$fs-h1: 26px;
$lh-h1: 32px;
$fs-h2: 18px;
$lh-h2: 26px;
$fs-text-normal: 12px;
$fs-text-middle: 14px;
$fs-text-small: 10px;
$fs-color-primary: #212529;
$fs-color-secondary: #333333;
$fs-color-form: #495057;
$fs-color-select: #6c757d;

// Theme Colors
$t1-primary-color: #ffe599;
$t1-success-color: #b6d7a8;
$t1-error-color: #dc3545;
$t1-info-color: #007bff;
$t1-bg-color-white: #ffffff;
$t1-bg-color-light: #f5f6f8;
$t1-bg-color-dark: #292f4c;
$t1-border-color: #ced4da;

// Standard Colors
$white: #ffffff;
$light-grey: #f9fafb;

// Borders
$br-minimal: 4px;
$br-normal: 12px;
$br-round: 20px;
$br-round-100: 100%;

// Box shadows
$bs-standard: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
